@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-custom-dark: #28262c;
  --color-custom-secondary-dark: #001514;
  --color-custom-light: #dce1e9;
  --color-custom-accent: #e6f14a;
  --color-custom-secondary-accent: #bd93bd;
  --color-custom-red: #a72608;

  --font-heading: Lora, serif;
  --font-body: Raleway, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
