@import "tailwindcss";
@theme {
  --color-custom-dark: #28262c;
  --color-custom-secondary-dark: #001514;
  --color-custom-light: #dce1e9;
  --color-custom-accent: #e6f14a;
  --color-custom-secondary-accent: #c9e4e7;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
